.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;

  width: 100%;
  height: 100%;

  background-color: #C4BFBA;
}

canvas {
  border-radius: 5px;
  background-color: green;
  width: 100%;
}

.controller-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.arrow-pad div {
  border-radius: 100px;
  background-color: #A12C5E;
  width: 25px;
  height: 25px;
}

.controller-buttons div {
  border-radius: 100px;
  background-color: #A12C5E;
  width: 25px;
  height: 25px;
  padding-right: 2px;
}